.section {
  width: 100%;
  height: 418px;

  background-image:url(../../assets/images/backgroundmain.png);
  background-size: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.s__container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 670px;
}

.s__text {
  width: 70%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 1.1em;

  color: #ffffff;
}

.s__input {
  width: 100%;
  padding-top: 25px;

  display: flex;
  justify-content: flex-start;
}

.s__search {
  width: 73.5%;
  height: 59px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1em;
  border-radius: 4px 0 0 15px;
  border: none;
  padding: 20px;

  color: #858585;
  background: #f5f5f5;
}

.s__buttonSearch {
  width: 80px;
  height: 59px;
  border-radius: 5px 15px 5px 0px;
  margin-left: -3px;

  background: #f43735;
}

.sb__imgButtonS {
  width: 25px;
  border: none;
}
