.footer__style {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;

  background-color: #202020;
}

.f__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font: 400 1.01rem/1em 'Roboto', sans-serif;

  color: #fff;
}
