body {
  background-color: #f5f5f5;
}

.s__team {
  height: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
}

.st__return {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.29rem;
  line-height: 1em;
  text-decoration: none;

  color: #ffcdd2;

  position: absolute;
  top: 10px;
  right: 0%;
}

.st__iconreturn {
  height: 7.7px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.st__title {
  width: 40%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 1.1em;

  color: #fff;

  margin-top: 98px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.main {
  width: 100%;

  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
}

.m__cards {
  margin-top: -209px;
  display: flex;
  justify-content: space-between;
}

.m__cards_1 {
  margin-top: 45px;

  display: flex;
  justify-content: space-between;
}

.mc__card {
  width: 230px;
  height: 321px;
  border-radius: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;

  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.mcc__img_1 {
  height: 169px;
}

.mcc__button {
  width: 46px;
  height: 46px;
  border-radius: 100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: absolute;
  left: 176px;
  top: 145px;

  background-color: #f43735;
}

.mccb_iconbnt {
  width: 19.5px;
}

.mcc__name {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1em;
  padding: 0.9em 0.9em 0.6em;

  color: #212121;
}

.mcc__biography {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.859rem;
  line-height: 1.1em;
  padding: 0% 10%;

  color: #212121;
}

.mcc__img_2 {
  height: 169px;
}

.mcc__img_3 {
  height: 169px;
}

.mcc__img_4 {
  height: 169px;
}

.m__pagination {
  margin-top: 22px;
  margin-bottom: 398px;
  display: flex;
  justify-content: flex-end;
}

.mp__page {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 1em;
}

.mpp__number {
  text-decoration: none;
  color: #212121;
}

.mpp__more {
  text-decoration: none;
  color: #212121;
}

.mpp__end {
  text-decoration: none;
  color: #212121;
}

.mpp__prev {
  text-decoration: none;
  margin-left: 145px;

  color: #959595;
}

.mpp__next{
  text-decoration: none;
  margin-left: 22px;

  color: #212121;
}
