.s__team {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.st__return {
  position: absolute;
  top: 10px;
  right: 0;

  font: 700 1.29rem/1em 'Roboto', sans-serif;
  color: #ffcdd2;
}

.st__iconreturn {
  margin-bottom: 3px;
  margin-left: 5px;
  height: 7px;
}

.st__title {
  margin: 98px 0 40px 30px;
  width: 40%;

  font: 700 2.2rem/1.1em 'Roboto', sans-serif;
  color: #fff;
}

.m__cards {
  display: flex;
  justify-content: space-between;
  margin-top: -209px;
}

.m__cards_1 {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.mc__card {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 230px;
  height: 321px;

  background-color: #fff;
  border-radius: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mcc__img_1 {
  height: 169px;
}

.mcc__button {
  position: absolute;
  left: 176px;
  top: 145px;

  width: 46px;
  height: 46px;

  background-color: #f43735;
  border-radius: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  cursor: pointer;
}

.mccb_iconbnt {
  width: 19px;
}

.mcc__name {
  padding: 24px 24px 17px;

  font: 700 1.7rem/1em 'Roboto', sans-serif;
  color: #212121;
}

.mcc__biography {
  padding: 0 24px;

  font: 400 0.859rem/1.1em 'Roboto', sans-serif;
  color: #212121;
}

.mcc__img_2,
.mcc__img_3,
.mcc__img_4 {
  height: 169px;
}

.m__pagination {
  display: flex;
  justify-content: flex-end;
  margin: 22px 0 398px;
}

.mp__page {
  font: 700 1.3rem/1em 'Roboto', sans-serif;
}

.mpp__number,
.mpp__more,
.mpp__end,
.mpp__next {
  color: #212121;
}

.mpp__prev {
  margin-left: 145px;

  color: #959595;
}

.mpp__next{
  margin-left: 22px;
}

@media (max-width: 1000px) {
  .st__title {
    width: auto;
    font-size: 1.8rem;
  }

  .st__return {
    font-size: 1rem;
  }

  .m__container {
    width: auto;
    height: auto;
    justify-content: center;
  }

  .m__cards,
  .m__cards_1 {
    flex-wrap: wrap;
    align-items: center;
  }

  .mc__card {
    margin-top: 15px;
  }

  .m__pagination {
    justify-content: center;
  }

  .mpp__prev,
  .mpp__next {
    margin-left: 10px;
  }
}

@media (max-width: 473px) {
  .m__cards,
  .m__cards_1 {
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .m__cards {
    margin-top: -160px;
  }
}
